/* Responsive Styles */
@media screen and (max-width: 768px) {
    .navigation_list {
        display: none;
        position: absolute;
        top: 100px;
        width: 90%;
        border-radius: 5px;
        background: var(--white-very-light);
        flex-direction: column;
        padding: 1rem;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

    .navigation_list {
        gap: 1rem;
    }

    .navigation_list li a {
        color: var(--gray-charcoal);
        font-weight: 700;
    }

    .navigation_button {
        display: none;
    }

    .navigation_menu_button {
        display: flex;
    }

    .navigation_list.active {
        display: flex;
    }

    .btn {
        padding: 16px 24px;
        border-radius: 2px;
        font-family: var(--font-mono);
        font-weight: 500;
    }

    .header_content {
        width: 100%;
    }

    /* Header */
    .header_content-title h1 {
        font-size: 32px;
        font-weight: 500;
    }

    .header_content-title h1 br {
        display: none;
    }

    .header_content-title p br {
        display: none;
    }

    .header_btn-container {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .header_btn-container a {
        width: 100%;
        text-align: center;
    }

    /* Company Section */
    .company_title h1 {
        font-size: 18px;
        font-weight: 900;
    }

    .company_partners-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    /* About Section */
    .about {
        height: auto;
    }

    .about-container {
        flex-direction: column;
    }

    .about-title {
        width: 100%;
        justify-content: flex-start;
        height: 202px;
    }

    .about-title-text {
        width: 100%;
        justify-content: flex-start;
    }

    .about-title-text h1 {
        font-size: 24px;
        font-weight: 900;
    }

    .about-title>div {
        justify-content: flex-start;
    }

    .about-bg {
        display: none;
    }

    .about-content {
        width: 100%;
        padding: 48px 0px;
    }

    .about-content_container h1 {
        font-size: 24px;
        font-weight: 900;
    }

    .about-content_container p {
        font-size: 14px;
        padding-bottom: 1.5rem;
    }

    .about-content_container {
        width: 90%;
    }

    /* feature */
    .feature {
        padding: 3rem 0rem;
    }

    .feature_main {
        gap: 3rem;
        padding: 4rem 0rem;
        background: none;
    }

    .feature_main-content {
        flex-direction: column;
        gap: 3rem;
        order: 2;
    }

    .feature-title {
        order: 1;
        background-image: url('../assets/feature-main-bg.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .feature_card {
        width: 100%;
    }

    .first_card {
        transform: rotate(0) !important;
    }

    .second_card {
        transform: rotate(-0) !important;
    }

    .feature_extra-content {
        width: 100%;
    }

    .extra_feature-content {
        width: 100%;
        height: 266px;
    }

    .feature_extra-title h1 {
        font-size: 18px;
        font-weight: 700;
    }

    /* Project */
    .projects-title {
        flex-direction: column;
        gap: 0.5rem;
        align-items: flex-start;
    }

    .projects-container {
        gap: 4rem;
    }

    .projects-title h1 {
        font-size: 24px;
    }

    .projects_content-container {
        gap: 2.5rem;
    }

    .projects_content {
        width: 100%;
    }

    /* order form section */
    .order {
        padding: 2rem 0rem;
    }

    .order-form {
        width: 100%;
    }

    .form-inputs {
        flex-direction: column;
    }

    .form-inputs input,
    select,
    option {
        width: 100%;
    }

    /* Contact Section */
    .contact-main {
        width: 100%;
        flex-direction: column;
        gap: 5rem;
    }

    .contact-container {
        width: 100%;
    }

    .contact-title {
        width: 100%;
        gap: 3rem;
        padding: 0;
    }

    .contact-info {
        width: 100%;
    }

    /* Footer Section */
    .footer-container {
        flex-direction: column;
    }

    .footer-main {
        flex-direction: column;
        padding-bottom: 3rem;
        gap: 24px;
    }

    .footer-link_container {
        flex-direction: column;
        padding-bottom: 24px;
    }
}

@media (max-width: 480px) {
    .company_partners-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
    }
}